<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	
  #{msgs.nombre} 
  <h:panelGroup>
		<h:inputText value="#{usuarios.user.name}" required="true"
			requiredMessage="#{msgs.formAlta_nombre_requiredMessage}"
			validatorMessage="#{msgs.formAlta_nombre_validatorMessage}"
			id="nombre" class="form-control">
			<f:validateLength maximum="20" />
		</h:inputText>
		<h:message for="nombre" />
	</h:panelGroup>

	<br />
  #{msgs.apellidos} 
  <h:panelGroup>
		<h:inputText value="#{usuarios.user.apellidos}" required="true"
			requiredMessage="#{msgs.formAlta_apellidos_requiredMessage}"
			validatorMessage="#{msgs.formAlta_apellidos_validatorMessage}"
			id="apellidos" class="form-control">
			<f:validateLength maximum="40" />
		</h:inputText>
		<h:message for="apellidos" />
	</h:panelGroup>

	<br />

  #{msgs.userid}
  <h:panelGroup>
		<h:inputText value="#{usuarios.user.login}" required="true"
			requiredMessage="#{msgs.formAlta_iduser_requiredMessage}"
			validatorMessage="#{msgs.formAlta_iduser_validatorMessage}"
			id="iduser" class="form-control" disabled="false">
			<f:validateLength minimum="0" maximum="8" />
		</h:inputText>
		<h:message for="iduser" />
	</h:panelGroup>
	<br />
  #{msgs.correo}
  <h:panelGroup>
		<h:inputText value="#{usuarios.user.email}" required="true"
			requiredMessage="#{msgs.formAlta_correo_requiredMessage}"
			validatorMessage="#{msgs.formAlta_correo_validatorMessage}"
			class="form-control" id="correo">
			<f:validateRegex pattern=".+@.+\.[a-z]+" />
		</h:inputText>
		<h:message for="correo" />
	</h:panelGroup>
	<br />

	<div class="row ">
		<div class="col-xs-6">
			<p>#{msgs.CONTRASENIA_1}</p>
			<h:inputSecret id="pass1" value="#{usuarios.pass1}"
				class="form-control" />
			<h:message for="pass1" style="color:red;" />
		</div>

		<div class="col-xs-6">
			<p>#{msgs.CONTRASENIA_2}</p>
			<h:inputSecret id="pass2" value="#{usuarios.pass2}"
				class="form-control" />
		</div>

	</div>

	<br />

	<center>
		<h:selectOneListbox id="rols" value="#{usuarios.user.rol}" label="Rol"
			rendered="#{LOGGEDIN_USER == null}" required="true"
			requiredMessage="#{msgs.ROL_REQUIRED_MESSAGE}">
			<f:selectItem id="item1" itemLabel="#{msgs.PROFESOR}"
				itemValue="profesor" />
			<f:selectItem id="item2" itemLabel="#{msgs.ALUMNO}"
				itemValue="alumno" />
		</h:selectOneListbox>
		
		<h:commandButton value="#{msgs.botonSalvar}" action="#{usuarios.save}"
			type="submit" />

	</center>



</ui:composition>