<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:panelGrid columns="2" styleClass="table table-bordered">

		<p>#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</p>
		<h:panelGrid>
			<h:inputText value="#{asignaturas.asigantura.nombre}" required="true"
				requiredMessage="#{msgs.REQUIRED_NOMBRE_ASIGNATURA}"
				validatorMessage="#{msgs.VALIDATOR_NOMBRE_ASIGNATURA}"
				class="form-control"
				id="nombre">
				<f:validateLength minimum="2" />
			</h:inputText>
			<h:message for="nombre" />
		</h:panelGrid>
		
		<p>#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</p>
		<h:panelGrid>
			<h:inputText value="#{asignaturas.asigantura.codigo}" required="true"
				requiredMessage="#{msgs.REQUIRED_CODIGO_ASIGNATURA}"
				class="form-control"
				id="codigo">
			</h:inputText>
			<h:message for="codigo" />
		</h:panelGrid>
		
		<p>#{msgs.TITULO_CELDA_CREDITOS_ASIGNATURA}</p>
		<h:panelGrid>
			<h:inputText value="#{asignaturas.asigantura.creditos}" required="true"
				requiredMessage="#{msgs.REQUIRED_CREDITOS_ASIGNATURA}"
				class="form-control"
				id="creditos">
			</h:inputText>
			<h:message for="creditos" />
		</h:panelGrid>
		
		
		<p>#{msgs.TITULO_CELDA_CURSO_ASIGNATURA}</p>
		<h:panelGrid>
			<h:inputText value="#{asignaturas.asigantura.curso}" required="true"
				requiredMessage="#{msgs.REQUIRED_CURSO_ASIGNATURA}" class="form-control"
				id="curso">
			</h:inputText>
			<h:message for="curso" />
		</h:panelGrid>
	</h:panelGrid>
	<h:commandButton value="#{msgs.botonSalvar}"
			action="#{instant.salvarAsignaturaRequest}" actionListener="#{asignaturas.save}"
			class="btn btn-block btn-lg btn-info"
			>
		</h:commandButton>
</ui:composition>