<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<div class="login-screen">
		<div class="login-form">
		
				<h3>#{msgs.TITULO_FORM_LOGIN}</h3>

			<div id="name-input" class="form-group" style="display: inline;">
				<h:outputText value="#{msgs.login_form_name_label}"
					styleClass="tooltip-inner" />

				<h:inputText id="name" value="#{login.name}" required="true"
					requiredMessage="#{msgs.login_form_name_required}"
					styleClass="form-control login-field" />
				<h:message for="name" />
			</div>

			<br /> <br />


			<div id="pass-input" class="form-group" style="display: inline;">
				<h:outputText value="	#{msgs.login_form_password_label}"
					styleClass="tooltip-inner" />


				<h:inputSecret id="password" value="#{login.password}"
					required="true"
					requiredMessage="#{msgs.login_form_password_required}"
					styleClass="form-control login-field" />
				<h:message for="password" />
			</div>
			<br />
			<h:commandButton value="#{msgs.login_form_button_send}"
				action="#{login.verify}"
				styleClass="btn btn-primary btn-lg btn-block">
			</h:commandButton>
			
				<p style="font-size:14px; background-color:#e74c3c;"><h:outputText id="msgAlta" value="#{msgs[login.result]}"/></p>
	
		</div>
		<br />
	</div>
</ui:composition>