<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionError}
</ui:define>
	<ui:define name="cuerpo">
		<h:form id="form-principal">
			<h1>#{msgs.mensajeError1}</h1>
			<p>#{msgs.mensajeError2}</p>
			<p>#{msgs.mensajeError3}</p>
		</h:form>
	</ui:define>
</ui:composition>