<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionError}
</ui:define>

	<ui:define name="cuerpo">
	
		<h:form id="form-principal">
			<h1>403: Forbidden</h1>
		</h:form>
	</ui:define>
</ui:composition>