<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
#{msgs.login_form_tittle}
</ui:define>
	<ui:define name="cuerpo">
	
				<h:form id="form-principal" styleClass="login-page">
					<ui:include src="/snippets/login-form.xhtml" />
				</h:form>
	</ui:define>
</ui:composition>