<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionListado}
</ui:define>

	<ui:define name="top">
		<ui:include src="/templates/template-general.xhtml" />
	</ui:define>



	<ui:define name="cuerpo">
		<h:form id="form-principal"
			style=" padding:6.7%;">

			
			<h:dataTable value="#{profesores.profesores}" var="prf"
				class="table table-stripped" id="table">
				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_USUARIO}</f:facet>
						#{prf.name}
					</h:column>
				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_APELLIDOS_USUARIO}</f:facet>
						#{prf.apellidos}
					</h:column>
				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_EMAIL_USUARIO}</f:facet>
						#{prf.email}
					</h:column>

				<h:column>
					<f:facet name="header">#{msgs.TITULO_LEGEND_LISTADOASIGNATURAS}</f:facet>
					<h:dataTable value="#{prf.asignaturas}" var="prfasg"
						rendered="#{prf.asignaturas != null}" class="table table-bordered">
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
									#{prfasg.nombre}
							</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</f:facet>
									#{prfasg.codigo}
							</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CURSO_ASIGNATURA}</f:facet>
									#{prfasg.curso}
							</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CREDITOS_ASIGNATURA}</f:facet>
									#{prfasg.creditos}
							</h:column>
					</h:dataTable>
				</h:column>


			</h:dataTable>
		</h:form>
		

	</ui:define>

</ui:composition>