<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionListado}
</ui:define>

	<ui:define name="top">
		<ui:include src="/templates/template-general.xhtml" />
	</ui:define>

	<ui:define name="cuerpo">
		<h:form id="form-principal"
			style=" padding:6.7%;">
			
			

			<h:dataTable value="#{asignaturas.asignaturas}" var="asig"
				class="table table-condensed" id="tabla">

				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</f:facet>
								#{asig.codigo}
							</h:column>

				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
								#{asig.nombre}
							</h:column>

				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_CURSO_ASIGNATURA}</f:facet>
								#{asig.curso}
							</h:column>

				<h:column>
					<f:facet name="header">#{msgs.TITULO_CELDA_CREDITOS_ASIGNATURA}</f:facet>
								#{asig.creditos}
							</h:column>

				<h:column>
					<f:facet name="header">#{msgs.TITULO_LEGEND_LISTADOPROFESORES}</f:facet>
					<h:dataTable value="#{asig.profesores}" var="profesoresasig"
						class="table table-stripped" rendered="#{asig.profesores != null}" >
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_USUARIO}</f:facet>
										#{profesoresasig.name}
									</h:column>

						<h:column >
							<f:facet name="header">#{msgs.TITULO_CELDA_APELLIDOS_USUARIO}</f:facet>
										#{profesoresasig.apellidos}
									</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_EMAIL_USUARIO}</f:facet>
							<p id="result">#{profesoresasig.email}</p>
						</h:column>
					</h:dataTable>
				</h:column>

			</h:dataTable>
		</h:form>
	</ui:define>

</ui:composition>