<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionEdicion}
</ui:define>

	<ui:define name="top">
		<ui:include src="/templates/template-general.xhtml" />
	</ui:define>

	<ui:define name="cuerpo">
		<h:form id="form-principal">
			<fieldset>
				<legend>#{msgs.LEGEND_ASIGNAR_PROFESORES}
					#{imparte.asignatura.nombre}</legend>
				<h:dataTable value="#{imparte.profesoresQueNoImpartenAsignatura}"
					var="prf" class="table table-bordered"
					rendered="#{imparte.profesoresQueNoImpartenAsignatura.size() != 0}">
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_USUARIO}</f:facet>
						#{prf.name}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_APELLIDOS_USUARIO}</f:facet>
						#{prf.apellidos}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_EMAIL_USUARIO}</f:facet>
						#{prf.email}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.OPCIONES}</f:facet>
						<h:commandButton id="asignar"
							value="#{msgs.ASIGN_TO} #{imparte.asignatura.nombre}"
							actionListener="#{imparte.asignarAsignatura(prf)}"
							immediate="true" />
					</h:column>
				</h:dataTable>
				
				
					<h:outputText
					value="#{msgs.TEACHERS_NOT_AVAIBLE}"
					rendered="#{imparte.profesoresQueNoImpartenAsignatura.size() == 0}" />				
				
				

			</fieldset>
		</h:form>
	</ui:define>


</ui:composition>