<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionEdicion}
</ui:define>

	<ui:define name="cuerpo">
		<h:form id="form-principal">
			<fieldset>
				<legend>#{asignaturas.asigantura.nombre}</legend>
				<h:dataTable value="#{asignaturas.matriculaPorAsignatura}"
					var="matr" class="table table-bordered">
					<h:column>
						<f:facet name="header">Nombre</f:facet>
						#{matr.alumno.nombre}
					</h:column>

					<h:column>
						<f:facet name="header">Apellidos</f:facet>
						#{matr.alumno.apellidos}
					</h:column>

					<h:column>
						<f:facet name="header">Email</f:facet>
						#{matr.alumno.email}
					</h:column>

					<h:column>
						<f:facet name="header">Asignatura</f:facet>
						#{matr.asignatura}
					</h:column>
					
					<h:column>
						<f:facet name="header">Antigua nota</f:facet>
						#{matr.nota}
					</h:column>

					<h:column>
						<f:facet name="header">Nota</f:facet>
						<h:inputText id="nota" value="#{asignaturas.nota}">
							<f:validator validatorId="com.sdi.presentation.validator.ValidadorNota"/>
						</h:inputText>
						<h:message for="nota"/>
						<h:commandButton value="Calificar"
							action="#{asignaturas.calificar(matr)}"
							actionListener="#{matr.setNota(asignaturas.nota)}"
							>
							
						</h:commandButton>
					</h:column>
				</h:dataTable>
			</fieldset>



		</h:form>
	</ui:define>

</ui:composition>