<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionEdicion}
</ui:define>

	<ui:define name="top">
		<ui:include src="/templates/template-general.xhtml" />
	</ui:define>

	<ui:define name="cuerpo">
		<h:form id="form-principal">
			<fieldset>
				<legend>#{asignaturas.asigantura.nombre}</legend>
				<h:dataTable value="#{asignaturas.usuariosNoCursanAsignatura}"
					var="prf" id="tabla" class="table table-bordered" border="1" rendered="#{asignaturas.usuariosNoCursanAsignatura.size() != 0}">
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_USUARIO}</f:facet>
						#{prf.name}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_APELLIDOS_USUARIO}</f:facet>
						#{prf.apellidos}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_EMAIL_USUARIO}</f:facet>
						#{prf.email}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.MATRICULAR}</f:facet>
						<h:commandButton id="matricular" value="#{msgs.MATRICULAR}"
							action="#{asignaturas.matricularAlumno(prf)}"
							actionListener="#{asignaturas.setUsuariosNoCursanAsignatura(asignaturas.asigantura)}"
							>
							<f:ajax render="@form :form-principal" execute="@form" />
						</h:commandButton>
					</h:column>
					<h:message for="tabla"/>
				</h:dataTable>
				<h:outputText value="#{msgs.NOT_AVAIBLE_STUDENTS}" rendered="#{asignaturas.usuariosNoCursanAsignatura.size() == 0}"/>
				
			</fieldset>
		</h:form>
	</ui:define>

</ui:composition>