
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOpciones}
</ui:define>

	<ui:define name="cuerpo">

		<h:form id="form-principal">

			<h:body rendered="#{LOGGEDIN_USER.rol == 'admin'}">
				<fieldset>
					<legend>#{msgs.TITULO_OPCIONES_ADMIN_USUARIOS}</legend>
					<h:dataTable value="#{usuarios.usuarios}" var="users" border="1"
						class="table table-bordered">
						<h:column>
							<f:facet name="header">#{msgs.ID}</f:facet>
							#{users.id}
					</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_USUARIO}</f:facet>
							#{users.name}
						</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_APELLIDOS_USUARIO}</f:facet>
							#{users.apellidos}
						</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_EMAIL_USUARIO}</f:facet>
							#{users.email}
						</h:column>
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_LOGIN_USUARIO}</f:facet>
							#{users.login}
						</h:column>
						<h:column>
							<f:facet name="header">#{msgs.ACTIVAR}</f:facet>
							<h:commandLink class="btn btn-block btn-lg btn-success"
								action="#{usuarios.cambiarEstadoActivacion(users)}"
								type="submit" value="#{msgs.ACTIVAR_MENSAJE}" immediate="true"
								rendered="#{users.activada == false}">
								<f:ajax execute="@this" render="@form" />
							</h:commandLink>

							<h:commandLink class="btn btn-block btn-lg btn-danger"
								action="#{usuarios.cambiarEstadoActivacion(users)}"
								type="submit" value="#{msgs.DESACTIVAR_MENSAJE}"
								immediate="true" rendered="#{users.activada == true}">
								<f:ajax execute="@this" render="@form" />
							</h:commandLink>
						</h:column>


						<h:column rendered="false">
							<f:facet name="header">Baja</f:facet>
							<h:commandLink action="#{usuarios.baja(users)}"
								class="btn btn-block btn-lg btn-danger" type="submit"
								value="Baja" immediate="true">

								<f:ajax execute="@this" render="@form" />
							</h:commandLink>
						</h:column>


						<h:column>
							<f:facet name="header">#{msgs.EDITAR}</f:facet>
							<h:commandLink action="#{instant.editRequest}" type="submit"
								value="#{msgs.EDITAR_MENSAJE}"
								class="btn btn-block btn-lg btn-info"
								actionListener="#{usuarios.setUser(users)}" immediate="true">
							</h:commandLink>
						</h:column>

						<h:column>
							<f:facet name="header">#{msgs.OPCIONES}</f:facet>
							<h:commandLink action="#{instant.asignarAsignaturasRequesr}" type="submit"
								value="#{msgs.ASIGNAR_ASIGNATURAS}"
								actionListener="#{profesores.setUsuario(users)}"
								class="btn btn-block btn-lg btn-info" immediate="true"
								rendered="#{users.rol == 'profesor'}">
							</h:commandLink>

							<h:commandLink action="#{instant.asignarAsignaturasAlumnoRequest}" type="submit"
								value="#{msgs.MATRICULAR_ASIGNATURAS}"
								class="btn btn-block btn-lg btn-info"
								actionListener="#{matricula.setAlumno(users)}" immediate="true"
								rendered="#{users.rol == 'alumno'}">
							</h:commandLink>
						</h:column>
					</h:dataTable>
				</fieldset>


				<h:commandLink action="#{instant.altaAsignaturaRequest}" type="submit"
					value="#{msgs.ANADIR_ASIGNATURA}" immediate="true"
					class="btn btn-block btn-lg btn-info"
					actionListener="#{asignaturas.iniciaAsignatura}" />
				<fieldset>
					<legend>#{msgs.TITULO_LEGEND_OPCIONES_ASIGNATURAS_ADMIN}</legend>
					<h:dataTable value="#{asignaturas.asignaturas}" var="asig"
						border="1" class="table table-bordered">
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</f:facet>
								#{asig.codigo}
							</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
								#{asig.nombre}
							</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CURSO_ASIGNATURA}</f:facet>
								#{asig.curso}
							</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CREDITOS_ASIGNATURA}</f:facet>
								#{asig.creditos}
							</h:column>

						<h:column>
							<f:facet name="header">#{msgs.BAJA}</f:facet>
							<h:commandLink action="#{asignaturas.delete(asig)}" type="submit"
								class="btn btn-block btn-lg btn-danger"
								value="#{msgs.BAJA_MENSAJE}" immediate="true"
								rendered="#{asig.deletable}">
								<f:ajax execute="@this" render="@form" />
							</h:commandLink>
						</h:column>

						<h:column>
							<f:facet name="header">#{msgs.EDITAR}</f:facet>
							<h:commandLink action="#{instant.editarAsignaturaRequest}" type="submit"
								value="#{msgs.EDITAR}"
								class="btn btn-block btn-lg btn-info"
								actionListener="#{asignaturas.setAsigantura(asig)}"
								immediate="true">
							</h:commandLink>
						</h:column>

						<h:column>
							<div class="btn-group">
								<ul>
									<li><h:commandLink action="#{instant.asignarAlumnosAsignaturaRequest}" type="submit"
											class="btn btn-block btn-lg btn-info"
											value="#{msgs.ASIGNAR_ALUMNOS_ASIGNATURA}"
											actionListener="#{asignaturas.setUsuariosNoCursanAsignatura(asig)}"
											immediate="true">
										</h:commandLink> <br /></li>


									<li><h:commandLink action="#{instant.asignarProfesoresAsignaturaRequest}" type="submit"
											class="btn btn-block btn-lg btn-info"
											value="#{msgs.ASIGNAR_PROFESORES_ASIGNATURA}"
											actionListener="#{imparte.setAsignatura(asig)}"
											immediate="true">
										</h:commandLink></li>

								</ul>
							</div>
						</h:column>

					</h:dataTable>
				</fieldset>
			</h:body>

			<h:body rendered="#{LOGGEDIN_USER.rol == 'alumno'}">
				<fieldset>
					<legend>#{msgs.TITULO_LEGEND_OPCIONES_ALUMNO}
						#{LOGGEDIN_USER.name} #{LOGGEDIN_USER.apellidos}</legend>
					<h:dataTable value="#{controller.matricula}" var="o" border="1"
						class="table table-bordered">

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
    						#{o.asignatura}
    					</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOTA}</f:facet>
    						#{o.nota}
    					</h:column>
					</h:dataTable>
				</fieldset>

			</h:body>

			<h:body rendered="#{LOGGEDIN_USER.rol == 'profesor'}">
				<fieldset>
					<legend>#{msgs.TITULO_OPCIONES_PROFESOR}</legend>
					<h:dataTable value="#{profesores.misAsignaturas}" var="asig"
						class="table table-bordered">
						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
							#{asig.nombre}
						</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</f:facet>
							#{asig.codigo}
						</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CURSO_ASIGNATURA}</f:facet>
							#{asig.curso}
						</h:column>

						<h:column>
							<f:facet name="header">#{msgs.TITULO_CELDA_CREDITOS_ASIGNATURA}</f:facet>
							#{asig.creditos}
						</h:column>

						<h:column>
							<f:facet name="header">#{msgs.OPCIONES}</f:facet>
							<h:commandLink value="#{msgs.OPCIONES_PROFESOR_CALIFICAR}"
								action="#{instant.calificarRequest}"
								actionListener="#{asignaturas.setAsigantura(asig)}" />
						</h:column>
					</h:dataTable>
				</fieldset>

			</h:body>

		</h:form>

	</ui:define>


</ui:composition>