<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionEdicion}
</ui:define>
	<ui:define name="top">
		<ui:include src="/templates/template-general.xhtml" />
	</ui:define>
	<ui:define name="cuerpo">
		<h:form id="form-principal">
			<fieldset>
				<legend>#{msgs.LEGEND_PERFIL_ASIGNATURAS_ALUMNO} #{matricula.alumno.name} #{matricula.alumno.apellidos} </legend>
				<h:dataTable var="asig"
					value="#{matricula.asignaturasNoMatriculadas}" border="1"
					class="table table-bordered"
					rendered="#{matricula.asignaturasNoMatriculadas.size() != 0}">
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
						#{asig.nombre}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.MATRICULAR}</f:facet>
						<h:commandButton id="matricular" value="#{msgs.MATRICULAR_BOTON}"
							action="#{matricula.matricula(asig)}"
							class="btn btn-block btn-lg btn-success"
							>
							<f:ajax render="@form :form-principal" execute="@form" />
						</h:commandButton>
					</h:column>
				</h:dataTable>
				<h:outputText
					value="#{msgs.NOT_COURSES_AVAIBLE}"
					rendered="#{matricula.asignaturasNoMatriculadas.size() == 0}" />
			</fieldset>
			<fieldset>
				<legend>
					#{msgs.MY_COURSES}
				</legend>
				
				<h:dataTable value="#{matricula.asignaturasMatriculadas}" var="as" class="table table-bordered" rendered="#{matricula.asignaturasMatriculadas.size() != 0}">
				
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</f:facet>
						#{as.asignatura}
					</h:column>
					
					<h:column>
						<f:facet name="header"> #{msgs.BAJA_MENSAJE} </f:facet>
						<h:commandButton
							value=" #{msgs.BAJA_MENSAJE}"
							action="#{instant.alumnoBajaAsignaturaRequest}"
							actionListener="#{matricula.baja(as)}"
							rendered="#{as.nota == 'No calificado'}"
							class="btn btn-block btn-lg btn-danger"
						/>
					</h:column>
				
				</h:dataTable>
				
				<h:outputText value = "#{msgs.NOT_COURSES_AVAIBLE}" rendered="#{matricula.asignaturasMatriculadas.size() == 0}"/>
			
			</fieldset>
	
		</h:form>
	</ui:define>

</ui:composition>