<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/template-general.xhtml">
	<ui:define name="titulo">
    #{msgs.tituloOperacionEdicion}
</ui:define>

	<ui:define name="top">
		<ui:include src="/templates/template-general.xhtml" />
	</ui:define>

	<ui:define name="cuerpo">
		<h:form id="form-principal">

			<fieldset>
				<legend> #{msgs.LEGEND_PERFIL_ASIGNATURAS_PROFESOR} #{profesores.profesor.name} </legend>
				<h:dataTable value="#{profesores.asignaturasQueNoImparte}"
					var="asig" class="table table-bordered">
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_NOMBRE_ASIGNATURA}</f:facet>
						#{asig.nombre}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_CODIGO_ASIGNATURA}</f:facet>
						#{asig.codigo}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_CREDITOS_ASIGNATURA}</f:facet>
						#{asig.creditos}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.TITULO_CELDA_CURSO_ASIGNATURA}</f:facet>
						#{asig.curso}
					</h:column>
					<h:column>
						<f:facet name="header">#{msgs.CELDA_OPCIONES}</f:facet>
						<h:commandButton id="asignar"
							value="#{msgs.ASIGN_TO} #{profesores.profesor.name}"
							action="#{imparte.asignarAsignatura(asig)}"
							actionListener="#{imparte.setProfesor(profesores.profesor)}">
						</h:commandButton>
					</h:column>
				</h:dataTable>
			</fieldset>
		</h:form>
	</ui:define>

</ui:composition>