<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<f:view locale="#{settings.locale}">

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="flat-ui.css" />
	<h:outputScript library="js" name="bootstrap.js" />
	<h:outputScript name="jquery-1.8.3.min.js" library="js" />
	<h:outputScript library="js" name="jquery-ui-1.10.3.custom.min.js" />
	<h:outputScript name="jquery.ui.touch-punch.min.js" library="js" />
	<h:outputScript name="bootstrap.min.js" library="js" />
	<h:outputScript name="bootstrap-select.js" library="js" />
	<h:outputScript name="bootstrap-switch.js" library="js" />
	<h:outputScript name="flatui-checkbox.js" library="js" />
	<h:outputScript name="flatui-radio.js" library="js" />
	<h:outputScript name="jquery.tagsinput.js" library="js" />
	<h:outputScript name="jquery.placeholder.js" library="js" />

	<h:head>

		<div class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Campus</a>
			</div>
			<h:form id="barra_superior_izda">
				<ul class="nav navbar-nav">
					<li><h:commandLink action="#{instant.homeRequest}" type="submit"
							value="#{msgs.TEXTO_BOTON_HOME_NAV}"/> 
							</li>
					<li><h:commandLink action="#{instant.listadoProfesoresRequest}" type="submit"
							value="#{msgs.TEXTO_BOTON_NAV_VERPROFESORES}">
						</h:commandLink></li>
					<li><h:commandLink action="#{instant.listadoAsignaturasRequest}" type="submit"
							value="#{msgs.TEXTO_BOTON_NAV_VERASIGNATURAS}">
						</h:commandLink></li>
					<li><h:commandLink action="#{instant.singOutRequest}" type="submit"
							value="#{msgs.TEXTO_BOTON_NAV_LOG_OUT}"
							rendered="#{LOGGEDIN_USER != null}"
							actionListener="#{usuarios.logout}" /> 
							
							<h:commandLink
							action="#{instant.altaRequest}" type="submit" value="#{msgs.SIGN_IN}"
							actionListener="#{usuarios.iniciaUsuario}"
							rendered="#{LOGGEDIN_USER == null}" />
							
							</li>
					<li><h:commandLink action="#{instant.profileEditRequest}" type="submit"
							value="#{msgs.TEXTO_BOTON_NAV_EDITARPERFIL}"
							actionListener="#{usuarios.setUser(LOGGEDIN_USER)}"
							rendered="#{LOGGEDIN_USER != null}" /></li>
				</ul>
			</h:form>

			<h:form>
				<div class="nav navbar-right">
					<h:commandLink value="#{msgs.enlaceIdiomaES}"
						actionListener="#{settings.setSpanish}"
						class="tooltip-inner"
						>
						<f:ajax
							render="@form :form-principal :form-cabecera :barra_superior_izda" />
					</h:commandLink>
					
					<h:commandLink value="#{msgs.enlaceIdiomaEN}"
					class="tooltip-inner"
						actionListener="#{settings.setEnglish}">
						<f:ajax
							render="@form :form-principal :form-cabecera :barra_superior_izda" />
					</h:commandLink>

					<h:outputText
						value="#{usuarios.loggedUser.name} #{usuarios.loggedUser.apellidos}"
						rendered="#{LOGGEDIN_USER != null}" class="tooltip-inner" />

					<h:outputText value="#{msgs.TEXTO_NAV_USER_GUEST}"
						rendered="#{LOGGEDIN_USER == null}" class="tooltip-inner" />
				</div>
			</h:form>
		</div>


	</h:head>
	<h:body>
		<h:form id="form-cabecera"
			style=" padding-top:0%; padding-bottom:1.5%;">
			<br />
		</h:form>

		<ui:insert name="cuerpo">#{msgs.tituloDefectoCuerpo}</ui:insert>
	</h:body>
</f:view>
</html>